<%= form_for [@topic, @topic.posts.build], url: group_topic_posts_path(topic_id: @topic.id) do |f| %>
  <div class="field">
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
