<%# breadcrumbs %>

<div class="topic panel panel-default">
  <div class="topic-title">
    <%= @topic.title %>
  </div>

  <div class="posts">
    <%= render @topic.posts %>
  </div>
  <% if current_user %>
    <div class="form">
      <%= render 'new_post' %>
    </div>
  <% end %>
</div>
