<div class="topic">
  <div class="topic-title">
    <%= @topic.title %>
  </div>

  <div class="posts">
    <%= render @topic.posts %>
  </div>
  <div class="form">
  	<%= render 'new_post' %>
  </div>
</div>
