<div class="group-info">
	<%= link_to group.name, group_path(group.id) %>
</div>
<% unless group.children.empty? %>
<ul class="group-children">
	<% group.children.each do |child| %>
	<li>
		<%= render child %>
	</li>
	<% end %>
</ul>
<% end %>