<%# breadcrumbs %>

<div class="group panel panel-default">
  <div class="group-name">
    <%= @group.name %>
  </div>

  <table class="topics">
    <% if @group.topics.empty? %>
    <p>No Topics</p>
    <% else %>
    <%= render @group.topics %>
    <% end %>
  </table>
  <% if current_user %>
    <div class="form">
      <%= render 'new_topic' %>
    </div>
  <% end %>
</div>
