<div class="panel panel-default post">
  <div class="panel-heading">
  	By: <span class="author"><%= post.user.name %></span>
  	Updated at: <span class="time"><%= post.updated_at %></span>
  </div>
  <div class="panel-body">
  	<%= post.body %>
  </div>
</div>
