// Place all the variables and other globally used scss stuff here.
// They will automatically be included before any other scss files.
// You can use Sass (SCSS) here: http://sass-lang.com/

$classic-white: #E9D5E1;
$light-grey: #ADB4B8;
$med-grey: #7A7973;
$dark-grey: #514E58;
$browner: #27170E;

$color1: $browner;
$color2: $classic-white;
$color3: $light-grey;
$color4: $med-grey;
$color5: $dark-grey;
