// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'global';

.group-name {
	font-size: 2em;
}

.group-list {
	.group-root {
		margin-bottom: 1em;
			div:hover {
			cursor: pointer;
			background-color: green;
		}
		.group-info {
			display: inline;
			border: 1px solid $color1;
			border-radius: 5px;
			padding: 0.3em;
		}
		ul {
			list-style-type: none;
			font: inherit;

			// vertical line
			border-left: 2px solid $color3;
			margin-left: 1.3em;
			padding-left: 1.3em;

			li {
				margin-top: 0.5em;
			}
		}	
	}
}

.topics {
	width: 100%;
}

.group-name, .form {
	text-align: center;
}

#new_topic {
	margin-left: auto;
	margin-right: auto;
	font-size: 1.25em;
	width: 55em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #E0E0E0;
	border: 1px solid black;
}

#new_topic .field {
	padding-top: 1em;
}

#topic_title {
	width: 50em;
}

.topics td {
	background-color: #E0E0E0;
	font-size: 1.25em;
}
