// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel.panel-default.post {
	background-color: #808c99;
	border-color: black;
	.panel-heading {
		background-color: inherit;
		border-color: inherit;
		.author {
			font-weight: bold;
			margin-right: 1em;
		}
		.time {
		}
	}
	.panel-body {
	}
}