// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'global';

.topic.panel.panel-default {
	//background-color: $seconday-color;
	margin: 5px;
	border: 1px none $color1;

	.topic-title {
		font-size: 1.5em;
		color: $color1;
		border-style: none;
		border-bottom: 2px solid $color1;
		padding-left: 0.5em;
	}

	.posts {
		margin: 10px 0px;
	}

	.form {
		textarea {
			min-width: 60px;
			width: 60%;
			height: 120px;
		}
	}
}

.topic .posts .panel {
	background-color: #E0E0E0;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.topic .posts .panel .panel-heading {
	border: 0;
	background-color: #EEEEEE;
}

.posts .panel .author {
	color: #607D8B;
}
